<div class="jsir-body">
    <div class="well jsir-login">
        <div class="login-tips">
            <img src="" alt="" class="login-img">
        </div>
        <form action="">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">用户名</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">密&nbsp;&nbsp;&nbsp;码</span>
                <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <br>
            <button type="button" class="btn btn-danger login-btn">登录</button>
        </form>
    </div>
</div>